.container {
    max-width: 900px;
    padding-top: 50px;
  }
  
  .card {
    border-radius: 12px;
  }
  
  h2 {
    font-weight: 600;
  }
  
  table th,
  table td {
    vertical-align: middle;
    text-align: center;
  }
  
  input[type="number"] {
    text-align: center;
  }
  .text-danger {
    font-weight: 500;
    font-size: 0.85rem;
  }
  
  input[disabled] {
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .welcome-text {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}

#bill-section {
  font-family: 'Arial', sans-serif;
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #fff;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 8px;
  border: 1px solid #ccc;
}
