<nav class="dashboard-navbar">
  <div class="navbar-left">
    <div class="logo">NTG</div>
  </div>

  <div class="navbar-center">
    <a routerLink="/listProducts" routerLinkActive="active">List-Products</a>
    <a routerLink="/listSales" routerLinkActive="active">List-Sales</a>
    <a routerLink="/createSale" routerLinkActive="active">CreateOrder</a>
    <a routerLink="/createProduct" routerLinkActive="active">Create-Product</a>
  </div>

  <div class="navbar-right">
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="dashboard-content">
  <h2>Welcome to the Dashboard</h2>

</div>
