<div class="container mt-5">
    <h2 class="text-center mb-4">{{'PRODUCT_MANAGEMENT'| translate}}</h2>
  
    <div class="mb-3 d-flex">
      <input
        class="form-control me-2"
        placeholder="{{'SEARCH_PRODUCT' | translate}}..."
        [(ngModel)]="keyword"
        (keyup.enter)="search()" />
        <button class="btn btn-outline-primary" (click)="search()" [disabled]="!keyword">{{'SEARCH'| translate}}</button>
        <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>

    </div>
  
    <form (ngSubmit)="save()" class="card p-3 mb-4 shadow-sm">
      <h5>{{ (isEditing ? 'EDIT_PRODUCT' : 'ADD_NEW_PRODUCT') | translate }}</h5>
      <div class="mb-3">
        <input class="form-control" placeholder="{{'PRODUCT_NAME'| translate}}" [(ngModel)]="selectedProduct.name" name="name" required />
      </div>
      <div class="mb-3">
        <input type="number" class="form-control" placeholder="{{'PRICE' |translate}}" [(ngModel)]="selectedProduct.price" name="price" required />
      </div>
      <div class="mb-3">
        <input type="number" class="form-control" placeholder="{{'STOCK' |translate}}" [(ngModel)]="selectedProduct.stock" name="stock" required />
      </div>
       <div class="mb-3">
        <input  class="form-control" placeholder="{{'BARCODE' |translate}}" [(ngModel)]="selectedProduct.barcode" name="barcode" required />
      </div>
       <div class="mb-3">
        <input  class="form-control" placeholder="{{'SUPPLIER' |translate}}" [(ngModel)]="selectedProduct.supplierName" name="supplierName" required />
      </div>

      <button type="submit" class="btn btn-success me-2">{{ isEditing ? 'Update' : 'Create' }}</button>
      <button type="button" class="btn btn-secondary" (click)="resetForm()">{{'CANCEL' | translate}}</button>
      <div *ngIf="error" class="text-danger mt-2">{{ error }}</div>
    </form>
  
    <table class="table table-bordered table-striped shadow-sm">
      <thead class="table-light">
  <tr>
    <th>{{'ID' | translate}}</th>
    <th>{{'PHOTO' | translate}}</th>
    <th>{{'PRODUCT_NAME' | translate}}</th>
    <th>{{'PRICE' | translate}}</th>
    <th>{{'BARCODE' | translate}}</th>
    <th>{{'STOCK_SIZE' | translate}}</th>
    <th>{{'SUPPLIER' | translate}}</th>
    <th>{{'CATEGORY' | translate}}</th>
    <th style="width: 160px;">{{'ACTIONS' | translate}}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.id }}</td>
  <td>
            <img
      *ngIf="product.photoBase64"
      [src]="'data:image/jpeg;base64,' + product.photoBase64"
      alt="Photo"
      width="50"
      height="50"
      style="cursor: pointer; object-fit: cover; border-radius: 4px;"
      (click)="viewProductDetails(product.id)" />
    </td>
    <td>{{ product.name }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.barcode }}</td>
    <td>{{ product.stock }}</td>
    <td>{{ product.supplierName || '-' }}</td>
    <td>{{ product.categoryName || '-' }}</td>

    <td>
      <button class="btn btn-sm btn-warning me-2" (click)="edit(product)">{{'EDIT' | translate}}</button>
      <button class="btn btn-sm btn-danger" (click)="delete(product.id)">{{'DELETE' | translate}}</button>
    </td>
  </tr>
</tbody>
    </table>
  </div>
  