
<div class="container mt-5">
    <div class="card p-4 shadow">
      <h2 class="mb-4 text-center">{{'ADD_NEW_PRODUCT' |translate}}</h2>
      <form (ngSubmit)="createProduct()">
        <div class="mb-3">
          <label for="name" class="form-label">{{'PRODUCT_NAME' |translate}}</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name" required>
        </div>
  
        <div class="mb-3">
          <label for="barcode" class="form-label">{{'BARCODE' |translate}}</label>
          <input type="text" class="form-control" id="barcode" [(ngModel)]="product.barcode" name="barcode" required>
        </div>
  
        <div class="mb-3">
          <label for="price" class="form-label">{{'PRICE' |translate}}</label>
          <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
        </div>
  
        <div class="mb-3">
          <label for="stock" class="form-label">{{'STOCK' |translate}}</label>
          <input type="number" class="form-control" id="stock" [(ngModel)]="product.stock" name="stock" required>
        </div>
        
      <div class="mb-3">
        <label for="supplier" class="form-label">{{ 'SUPPLIER' | translate }}</label>
        <select class="form-select" id="supplier" [(ngModel)]="product.supplierId" name="supplierId" required>
          <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{ supplier.name }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">{{ 'CATEGORY' | translate }}</label>
        <select class="form-select" id="category" [(ngModel)]="product.categoryId" name="categoryId" required>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>


            <div class="mb-3">
        <label for="file" class="form-label">{{'PHOTO' |translate}}</label>
        <input type="file" class="form-control" id="file" (change)="onFileChange($event)" required />
        </div>
        <div class="form-check form-switch mb-3">
          <input class="form-check-input" type="checkbox" id="available" [(ngModel)]="product.available" name="available">
          <label class="form-check-label" for="available">Available</label>
        </div>
  
        <button type="submit" class="btn btn-success w-100">{{'ADD_NEW_PRODUCT' |translate}}</button>
      </form>
  
      <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>
    </div>
  </div>
   